body {
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 28px; background-color: cornsilk;
  margin-top: 20px; margin-bottom: 20px;
  margin-left: 40px; margin-right: 40px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 14px;
  /* padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px; */
}
h1 {
  border: 2px solid cornflowerblue;
}
h2 {
  border: 1px solid orange;
}

img {
  /* 반응형 웹에서 웹브라우저 가로폭의 변화에 따라 이미지 크리 자동 조정 */
  max-width: 100%;
  /* 이미지 크기가 attribute로 설정되어 있는 경우 세로폭도 자동 조절 */
  height: auto !important;
}

/* 하이퍼링크의 언더라인을 표시하지 않음 */
a {
  text-decoration: none;
}

/* address 태그 브라우저 기본값 */
/* address {
  display: block;
  font-style: italic;
} */
